body{ background-image: url(Chuunibyou-12_11-Yuuta-reality-change.jpg);
   background-position:center;
    margin-right: 200px;
    background-size:cover}

div.Restart{
    position: relative;
    top:400px;
    left:500px;
    font-size: 30px;
}

p{position: relative;
  top: 400px;
   left: 500px;
    color: lightcoral;
    font-size: 35px;

}



