body{ background-image: url(alleyway.jpg);
   background-position:center;
    margin-right: 200px;
    background-size:cover}

div.Fight{
    font-size: 35px;
}
 div.cat{
    border: 0px solid;
    padding: 0px; 
    width: 0px;
    resize: both;
    overflow: auto;
}   
}\

p{
    color:ivory;
    font-size: 40px;
    
}
a{color: ivory}
h1{color: ivory}
