body{ background-image: url(184-800.jpg);
   background-position:bottom;
    margin-right: 200px;
    background-size: cover


}

div.Accept {
    position: relative;
    left: 300px;
    font-size: 30
   
}

p{font-size: 20px}
p{color: ivory}
a{color: ivory}
