body{ background-image: url(Life-and-death.jpg);
   background-position:;
    margin-right: 200px;
    background-size: cover


}

div.Life2{
    position: relative;
    top: 100px;
    position: relative;
    left: 100px;
    font-size: 20px
}

div.Die{
    position: relative;
    top: 100px;
    position: relative;
    left: 300;
    font-size: 20px
}
p{font-size: 25px}
p{color: royalblue}
a{color:royalblue}