body{ background-image: url(maxresdefault.jpg);
   background-position:;
    margin-right: 200px;
    background-size: cover

}

div.End{
    position: relative;
    top: 100px;
    position: relative;
    left: 100px;
    font-size: 20px
}

div.Spy{
    position: relative;
    top: 100px;
    position: relative;
    left: 500;
    font-size: 20px
}

div.Rejection{
    position: relative;
    top: 100;
    position: relative;
    left: 300px;
    font-size: 20px
}
a{color: red}
p{font-size: 25px}
p{color: peru}


