body{ background-image: url(40bea787620ccd11511544707677829a.jpg);
   background-position:center;
    margin-right: 200px;
    background-size:cover}

div.Fight{
    font-size: 35px;
    
}

p{
    color:ivory;
    font-size: 40px;
    
}
a{color: ivory}
h1{color: ivory}